{% load staticfiles %}{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% endspaceless %}<title>{% block widget_title %}{% if widget.is_valid %}{{ widget.get_title }}{% else %}{{ widget.name }}{% endif %}{% endblock %}</title>
	{% block widget_styles %}{% endblock widget_styles %}

  {% block widget_extra_styles %}
  <style type="text/css">
		body { padding: 0; margin: 0; }
	</style>
  {% endblock widget_extra_styles %}

  {% block widget_scripts %}
  {% endblock widget_scripts %}
</head>
<body>
{% if widget.is_valid %}
{% block widget_body %}{{ widget.name }}{% endblock %}
{% block widget_extra %}{% endblock widget_extra %}

{% else %}
<div id="form-error">
  {% if widget.form.non_field_errors %}
  <div class="alert alert-error">
    {% for non_field_error in widget.form.non_field_errors %}
    {{ non_field_error }}
    {% endfor %}
  </div>
  {% endif %}
	<ul>
    {% for field in widget.form %}{% if field.errors %}
    <li>{{ field.errors|striptags }}</li>
    {% endif %}{% endfor %}
	</ul>
</div>
{% endif %}
</body>
</html>