{% load staticfiles %}{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% endspaceless %}<title>{% block widget_title %}{{ widget.get_title }}{% endblock %}</title>
	{% block widget_styles %}{% endblock widget_styles %}

  {% block widget_extra_styles %}
  <style type="text/css">
		body { padding: 0; margin: 0; }
	</style>
  {% endblock widget_extra_styles %}

  {% block widget_scripts %}
  {% endblock widget_scripts %}
</head>
<body>

{% block widget_body %}{{ widget.name }}{% endblock %}

{% block widget_extra %}{% endblock widget_extra %}
</body>
</html>